<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Data</title>
</head>
<body>
    <h1>Student Data</h1>
    <table style="width:10%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        {% for row in data %}
           <tr style="width:15%">
               <td>{{ row[0]}}</td>
               <td>{{ row[1]}}</td>
               <td>{{ row[2]}}</td>
           </tr>
        {% endfor %}
   </table>
</body>
</html>